.header{
  color: white!important;
}
.header-container{
  text-align: center;
}

.header-row{

  vertical-align: middle;
  padding: 10px 10% 0px 10%;
  text-align: center;
}
.header-row i{
  font-size:20px;
}

.content{
  background-color: white;
  padding: 20px;
}
.footer{
  color: white!important;
  background-color: #001529!important;
}
.footer-row{
  
  vertical-align: middle;
  padding: 0 10%;
  text-align: center;
}