*{
  font-family: 'Montserrat', sans-serif;
  
}

h3,h6{
  color: white!important;
}
.header{
  background-color:rgb(0, 21, 41,0.7)!important;
  background-image: url('http://localhost:3000/image/back.jpg')!important;
  background-repeat: 'no-repeat'!important;
  object-fit: cover;
  background-size: cover;
  background-position: top!important;

  color: white!important;
}
.header-container{
  text-align: center;
}

.header-row{
  
  vertical-align: middle;
  padding: 10px 10% 0px 10%;
  text-align: center;
}
.header-row i{
  color: #1890ff;
  font-size:20px;
}

.content{

  background-color: black;
  background:url('http://localhost:3000/image/back.jpg');
  background-repeat: 'no-repeat'!important;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  height: 83vh;
  
  padding: 50px 10%;
}


.content-row{
 
  text-align: center;
  vertical-align: middle;
  padding: 10px 10% 0px 10%;
 
}

.footer{
  position: absolute;
  width: 100%;
  bottom:0;
  color: white!important;
  background-color:rgb(0, 21, 41,0.7)!important;
  background-image: url('http://localhost:3000/image/back.jpg')!important;
  background-repeat: 'no-repeat'!important;
  object-fit: cover;
  background-size: cover;
  background-position: bottom!important;

}
.footer-row{
  
  vertical-align: middle;
  padding: 0 10%;
  text-align: center;
}
.sound-em{
  font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;
}
.sound-em-i{
  color: #cccccc; text-decoration: none;
}

.music-size{
  color: #001529;
  margin-top: 5px;
}

.music-title{
  margin-left: 5px;
  margin-bottom: 15px;
 text-align: start;
}

.music-meta{
  border-radius: 15px 15px ;
  padding: 25px;
  color: #001529;

}
